<div class="contents row">
  <% @posts.each do |tweet| %>
    <div class="content_post" style="background-image: url(<%= post.image %>);">
      <p><%= post.text %></p>
      <span class="name">
        <%= post.name %>
      </span>
    </div>
  <% end %>
</div>
